<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6"><%= link_to 'Atras', books_path, class: "btn btn-danger" %></div>
</div>
<br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div class="card text-white bg-primary mb-3">
  <div class="card-header">Libro</div>
  <div class="card-body text-secondary">
    <div class="row">
	<div class="col-md-6">
		<h4 class="card-title"><%= @book.name %></h4>
	       <p class="card-text"><%= @book.author %></p>
	</div>
	<div class="col-md-6">
		<%= link_to image_tag(@book.image.url(:thumb), class: 'media-object'), @book.image.url, target: '_blank' %>
	</div>
    </div>
    <a href="<%= edit_book_path(@book) %>" class="btn btn-info btn-sm" role="button">Editar Libro</a>
  </div>
</div>
	</div>
</div>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4"><h4 style="text-align:center;">Notas</h4></div>
</div>
<div id="notes" class="row">
 <%= render @book.notes %>
</div>
<br>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4"><h4 style="text-align:center;">Añadir nota</h4></div>
</div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div>
 <%= form_for([@book, @book.notes.new]) do |f| %>
<div class="form-group row">
	<%= f.label :Titulo, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
	<%= f.text_field :title, class: "form-control-plaintext" %>
      </div>
    </div> 
<div class="form-group row">
        <%= f.label :Nota, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :note, size: "25x10", class: "form-control-plaintext" %>
      </div>
    </div> 
 <div class="actions">
 <%= f.submit "Nueva Nota", class: "btn btn-primary btn-sm" %>
 </div>
 <% end %>
</div>
</div>
</div>


<!--
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
-->
